*,
*::after,
*::before {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit; }

html {
  font-size: 50%; }

body {
  box-sizing: border-box; }

.head {
  background-color: #120917;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .head .head-brand {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 60%; }
    .head .head-brand #logo-main {
      height: 80%;
      background-size: cover; }
  .head .wish-time {
    text-align: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .head .wish-time .wish {
      font-family: "Heebo", sans-serif;
      font-size: 5rem;
      color: #bf7626;
      letter-spacing: 0.3rem;
      font-weight: bold; }
    .head .wish-time .wish {
      padding: 0.5rem; }

.summary {
  margin: 0 auto;
  max-width: 114rem;
  display: block;
  font-size: 3rem;
  padding: 5rem 2rem 5rem 2rem;
  font-family: "Rubik", sans-serif;
  color: #120917; }
  .summary h2 {
    font-size: 7rem;
    text-align: center;
    padding-bottom: 2.5rem;
    font-family: "Heebo", sans-serif;
    color: #120917;
    font-weight: bolder;
    letter-spacing: 3px; }
  .summary .intro-1,
  .summary .intro-2,
  .summary .intro-3,
  .summary .intro-4 {
    padding-bottom: 2.5rem; }

.light-font {
  color: #bf7626;
  font-weight: bolder; }

.blue-font {
  color: blue;
  font-weight: bolder; }

.green-font {
  color: green;
  font-weight: bolder; }

.platforms .platforms-head {
  font-size: 7rem;
  text-align: center;
  padding: 2rem;
  font-family: "Heebo", sans-serif;
  color: #e9d1b6;
  font-weight: bolder;
  letter-spacing: 3px;
  background-color: #120917; }

.platforms .container__platforms {
  margin: 2rem 10rem;
  font-size: 4rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }
  .platforms .container__platforms--individual {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 20%;
    padding: 2rem;
    margin-bottom: 10rem;
    border: solid 0.8rem #120917; }
    .platforms .container__platforms--individual .logo-format-pic {
      width: 15rem; }
