//colors

$color-header-bg: #120917;
$color-primary: #bf7626;
$color-secondary: #d4a36e;
$color-tertiary: #e9d1b6;
$color-quaternary: #fff;

$cc1: #543e27;
$cc2: #433425;
$cc3: #f2e7c7;
$cc4: #9c9672;
$cc5: #a19b7b;
