.individual-contest {
  font-size: 2rem;

  .icsoloh {
    white-space: nowrap;
    color: $color-secondary;
    letter-spacing: 0.2rem;
    font-family: "Heebo", sans-serif;
    background-color: $color-header-bg;
    border-radius: 0.5rem;
    padding: 1rem;
  }
  .icsolo {
    padding: 1rem;

    margin-bottom: 1rem;
    //background-color: green;
    white-space: nowrap;
    text-align: center;
    background-color: $color-tertiary;
    font-family: "Heebo", sans-serif;
    border-right: solid 0.2rem $color-header-bg;
    letter-spacing: 0.1rem;

    .remove-decoration {
      text-decoration: none;
      color: $color-tertiary;
      letter-spacing: 0.2rem;
    }
  }
  .name,
  .nameh,
  .start-date,
  .end-date {
    text-align: left;
  }
  .name {
    font-weight: bold;
    letter-spacing: 0.2rem;
  }
  .nameh {
    text-align: center;
  }
  .end-date {
    border: none;
  }
  .register {
    background-color: #5a3d1d;
    border-radius: 1rem;
  }
}

.greenc {
  background-color: #32cd32 !important;
}
.redc {
  background-color: #ce2029 !important;
  color: #febfc3 !important;
}
.yellowc {
  background-color: #ffd800 !important;
}
.greenc,
.redc,
.yellowc {
  font-weight: bold;
}
