.individual-contest {
  font-size: 2rem;

  .icsoloh {
    white-space: nowrap;
    color: $color-secondary;
    letter-spacing: 0.2rem;
    font-family: "Heebo", sans-serif;
    background-color: $color-header-bg;
    border-radius: 0.5rem;
    padding: 1rem;
  }
  .icsolo {
    padding: 1rem;
    //background-color: green;
    word-wrap: break-word;
  }
}

.moveup {
  background-color: $color-header-bg;
  .movetoSites {
    font-size: 3rem;
    margin: 2rem 0 2rem 0;
    padding: 0.8rem;
    border: solid 0.5rem $color-header-bg;
    border-radius: 1rem;
    font-family: "Heebo", sans-serif;
    background-color: $color-header-bg;
    //color: $color-tertiary;
    background-image: linear-gradient(
      90deg,
      rgba(191, 118, 38, 1) 0%,
      rgba(233, 209, 182, 1) 50%,
      rgba(233, 209, 182, 1) 100%
    );

    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    letter-spacing: 0.3rem;
    &:hover {
      cursor: pointer;
    }
  }
}
