@import "../abstract/mixins";
*,
*::after,
*::before {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit;
}

html {
  height: auto;
  font-size: 45%;
  @include respond(tab-land) {
    font-size: 40%;
  }
  @include respond(tab-port) {
    font-size: 35%;
  }
  @include respond(phone) {
    font-size: 35%;
  }
  @include respond(big-device) {
    font-size: 50%;
  }
}
body {
  box-sizing: border-box;
  height: auto;
}
/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
for tesing purposes*/
