@import "../abstract/mixins";
.all-contests {
  font-size: 8rem;
  &-head {
    font-size: 7rem;
    text-align: center;
    padding: 2rem;
    font-family: "Heebo", sans-serif;
    color: $color-tertiary;
    font-weight: bolder;
    letter-spacing: 3px;
    background-color: $color-header-bg;
  }
  &__splitter {
    padding: 3rem 3rem;
    background-color: $color-tertiary;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* we need to flex columnwise in phone and tab-port*/
    @include respond(phone) {
      flex-direction: column;
      justify-content: center;
      align-items: space-around;
      padding-right: 7rem;
    }
    @include respond(tab-port) {
      flex-direction: column;
      justify-content: center;
      align-items: space-around;
      padding-right: 7rem;
    }
    @include respond(tab-land) {
      flex-direction: column;
      justify-content: center;
      align-items: space-around;
      padding-right: 7rem;
    }
    &--running,
    &--upcoming {
      border: 0.3rem $color-header-bg solid;
      margin: 2rem;
      flex: 1 1 calc((100% - 4 * 2rem) / 2);
      overflow: hidden;
      text-align: center;
      height: 70vh;
      padding: 2rem 1rem;
      @include respond(phone) {
        width: 100%;
      }
      @include respond(tab-port) {
        width: 100%;
      }
      @include respond(tab-land) {
        width: 100%;
      }
      .running-head,
      .upcoming-head {
        font-size: 4rem;
        //display: block;
        font-family: "Heebo", sans-serif;
        font-weight: bold;
        letter-spacing: 0.2rem;
      }
      .slider-running,
      .slider-upcoming {
        overflow-x: scroll;
        overflow-y: scroll;
        height: 60vh;
      }
    }
    &--running--sites {
      width: auto;
      height: auto;
      //overflow-x: scroll;
      //padding-bottom: 2rem;
      padding-top: 2rem;
      .individual-contest {
        .icsolo,
        .icsoloh {
          padding: 2rem 2rem;
        }
      }
    }
  }
}
.running-contests,
.upcoming-contests {
  overflow-y: scroll;
  padding-bottom: 2rem;
}
