.contestOngoing {
  margin-bottom: 0.75rem;
  padding: 1rem;
  .name {
    @include contest-name;
  }
  .ends-platform {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .ends {
      @include contest-time;
      padding: 0rem 1rem;
    }
    .platform {
      @include contest-platform;
    }
  }
  .register {
    text-align: center;
    margin-top: 1rem;
    a {
      @include contest-link;
    }
  }
}
