// for codechef

.cc {
  border: $cc2 0.5rem solid;
  padding: 0.5rem;
}
.ccdark {
  color: $cc2;
  font-weight: bold;
  letter-spacing: 2px;
}
.cclight {
  color: $color-primary;
  font-size: 90%;
}
.visitcc {
  background-color: $cc1;
  color: $cc3;
  @include format-info-button;
}

//for atcoder
.at {
  border: $cc2 0.5rem solid;
  padding: 0.5rem;
}
.atdark {
  color: $at2;
  font-weight: bold;
  letter-spacing: 2px;
}
.atlight {
  color: $at1;
  font-size: 90%;
}
.visitat {
  background-color: $at2;
  color: $at4;
  @include format-info-button;
}

//for codeforces
.cf {
  border: black 0.5rem solid;
  padding: 0.5rem;
}
.cfdark {
  color: $cf3;
  letter-spacing: 2px;
  font-weight: bold;
}
.cflight {
  color: $cf2;
  font-size: 90%;
  &t {
    color: black;
  }
}
.visitcf {
  background-color: $cf1;
  color: $cf3;
  @include format-info-button;
  font-weight: bold;
}
.visitcfg {
  background-color: $cf3;
  color: #ffffff;
  @include format-info-button;
}

//for topcoder
.tc {
  border: $tc3 0.5rem solid;
  padding: 0.5rem;
}
.tcdark {
  color: $tc1;
  font-weight: bold;
  letter-spacing: 2px;
}
.tclight {
  color: $tc2;
  font-size: 90%;
  &t {
    color: black;
  }
}
.visittc {
  background-color: #00ff00;
  color: $tc1;
  @include format-info-button;
  font-weight: bold;
}

//for hackerearth
.he {
  border: $he1 0.5rem solid;
  padding: 0.5rem;
}
.hedark {
  color: $at1;
  font-weight: bold;
  letter-spacing: 2px;
}
.helight {
  color: $he1;
  font-size: 90%;
}
.visithe {
  background-color: $he1;
  color: #ffffff;
  @include format-info-button;
}
//google-kickstart
.gk {
  border: $gk2 0.5rem solid;
  padding: 0.5rem;
}
.gkdark {
  color: $gk1;
  font-weight: bold;
  letter-spacing: 2px;
}
.gklight {
  color: $gk4;
  font-size: 90%;
}
.visitgk {
  background-color: $gk1;
  color: $gk2;
  @include format-info-button;
  font-weight: bold;
  letter-spacing: 0.15rem;
}
//for leetcode

.lcdark {
  color: $lc2;
  font-weight: bold;
  letter-spacing: 2px;
}
.lclight {
  color: $lc1;
  font-size: 90%;
}
.visitlc {
  background-color: $lc2;
  color: $lc1;
  @include format-info-button;
  font-weight: bold;
  letter-spacing: 0.15rem;
}
//for hackerrank
.hcdark {
  color: $hc2;
  font-weight: bold;
  letter-spacing: 2px;
}
.hclight {
  color: $hc1;
  font-size: 90%;
}
.visithc {
  background-color: #000000;
  color: #ffffff;
  @include format-info-button;
  font-weight: bold;
  letter-spacing: 0.15rem;
}

.info-pic__container--format {
  border-radius: 1.5rem;
}
