// for codechef

.cc {
  border: $cc2 0.5rem solid;
  padding: 0.5rem;
}
.ccdark {
  color: $cc2;
  font-weight: bold;
  letter-spacing: 2px;
}
.cclight {
  color: $color-primary;
  font-size: 90%;
}
.visitcc {
  background-color: $cc1;
  color: $cc3;
  @include format-info-button;
}

//for atcoder
.at {
  border: $cc2 0.5rem solid;
  padding: 0.5rem;
}
.atdark {
  color: $at2;
  font-weight: bold;
  letter-spacing: 2px;
}
.atlight {
  color: $at1;
  font-size: 90%;
}
.visitat {
  background-color: $at2;
  color: $at4;
  @include format-info-button;
}

//for codeforces
.cf {
  border: black 0.5rem solid;
  padding: 0.5rem;
}
.cfdark {
  color: $cf3;
  letter-spacing: 2px;
}
.cflight {
  color: $cf2;
  font-size: 90%;
  &t {
    color: black;
  }
}
.visitcf {
  background-color: $cf1;
  color: $cf3;
  @include format-info-button;
  font-weight: bold;
}

//for topcoder
.tc {
  border: $tc3 0.5rem solid;
  padding: 0.5rem;
}
.tcdark {
  color: $tc1;
  font-weight: bold;
  letter-spacing: 2px;
}
.tclight {
  color: $tc2;
  font-size: 90%;
  &t {
    color: black;
  }
}
.visittc {
  background-color: #00ff00;
  color: $tc1;
  @include format-info-button;
  font-weight: bold;
}
