main {
  .summary {
    font-size: 4rem;
    margin: 2rem;

    .info-header {
      font-family: "Archivo Black", sans-serif;
      font-size: 6rem;
      margin-bottom: 2rem;
      text-align: center;
    }
    .info-detail {
      margin: 0 10rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: center;
      .info-pic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__container {
          &--format {
            width: 20rem;
            //margin: 0 auto;
          }
        }
        width: 30%;
      }

      .info-detailings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-family: "Heebo", sans-serif;
        font-size: 3rem;

        word-wrap: normal;
        width: 70%;
        .brief,
        .services,
        .founded,
        .visit {
          width: 70%;
        }
        .visit {
          padding: 1rem;
          text-align: center;
        }
        .brief {
          margin-bottom: 2rem;
        }
      }
    }
  }
}
.slider-running {
  height: auto;
}
.info-pic__container--format {
  border-radius: 1.5rem;
}
