/*main {
  .summary {
    font-size: 4rem;
    margin: 2rem;

    .info-header {
      font-family: "Archivo Black", sans-serif;
      font-size: 6rem;
      margin-bottom: 2rem;
      text-align: center;
    }
    .info-detail {
      margin: 0 5rem;

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: center;

      .info-pic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__container {
          &--format {
            width: 20rem;
            //margin: 0 auto;
          }
        }
        width: 30%;
      }

      .info-detailings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-family: "Heebo", sans-serif;
        font-size: 3rem;
        word-wrap: normal;
        width: 100%;
        .brief,
        .services,
        .founded,
        .visit {
          width: 70%;
          @include respond(phone) {
            flex-basis: 100%;
            align-items: center;
            justify-content: ;
          }
          @include respond(tab-port) {
            flex-basis: 100%;
          }
        }
        .visit {
          padding: 1rem;
          text-align: center;
        }
        .brief {
          margin-bottom: 2rem;
          text-align: justify;
        }
      }
      @include respond(phone) {
        flex-direction: column;
      }
      @include respond(tab-port) {
        flex-direction: column;
      }
    }
  }
}
.responsive,
.auto {
  height: auto !important;
}
*/

.summary {
  .info-header {
    font-family: "Archivo Black", sans-serif;
    font-size: 6rem;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 2rem;
  }
  .info-detail {
    // generally we need to flex -row
    margin: 8rem 25rem 5rem 25rem;
    @include respond(phone) {
      margin: 5rem 5rem;
    }
    @include respond(tab-port) {
      margin: 5rem 5rem;
    }
    @include respond(tab-land) {
      margin: 5rem 5rem;
    }
    display: flex;
    flex-direction: row;
    @include respond(phone) {
      display: flex;
      flex-direction: column;
    }
    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
    }
    .info-pic {
      //this is the child and root as well
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .info-pic__container {
        .info-pic__container--format {
          width: 25rem;
        }
      }
      margin-right: 8rem;
      width: 30%;
      @include respond(phone) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
      }
      @include respond(tab-port) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
    .info-detailings {
      font-family: "Heebo", sans-serif;
      font-size: 3rem;
      text-align: justify;
      .visit {
        padding: 1rem;
        text-align: center;
        margin-top: 2rem;
      }
      width: 70%;
      @include respond(phone) {
        width: 100%;
      }
      @include respond(tab-port) {
        width: 100%;
      }
    }
  }
}
.responsive,
.auto {
  height: auto !important;
}
